# MonoGame - Ignorar archivos generados
bin/
obj/
artifacts/
*.suo
*.user
*.log
*.tmp
*.pidb
*.pdb
*.sdf
*.db-shm
*.db-wal
*.db-journal
*.vs/
.vscode/
*.DS_Store
Thumbs.db

# Configuración de IDEs
.idea/
*.iml

# MonoGame Content Pipeline - Se sube solo la fuente, no el compilado
Content/bin/
Content/obj/
